@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&display=swap");
body {
  background: #3b5897;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-osx-font-smooth: grayscale;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.restart {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh;
  border-radius: 1vh;
  background: #3b5897;
  -webkit-box-shadow: #38538f 0px 2px 4px, #38538f 0px 7px 13px -3px, #38538f 0px -3px 0px inset, #38538f -3px 0px 0px inset, #38538f 3px 0px 0px inset, #38538f 0px 3px 0px inset;
          box-shadow: #38538f 0px 2px 4px, #38538f 0px 7px 13px -3px, #38538f 0px -3px 0px inset, #38538f -3px 0px 0px inset, #38538f 3px 0px 0px inset, #38538f 0px 3px 0px inset;
  color: #c0c0c0;
  cursor: pointer;
  font-size: 2vh;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.restart:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.frame {
  border-radius: 10px;
  background: #3b5897;
  -webkit-box-shadow: 9px 9px 20px #38538f, -9px -9px 20px #3f60a2;
          box-shadow: 9px 9px 20px #38538f, -9px -9px 20px #3f60a2;
  margin-top: -5vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.frame #grid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh;
  -webkit-perspective: 1000vh;
          perspective: 1000vh;
}

.frame #grid .card {
  -webkit-transform: rotateY(0deg) translate3d(0, 0, 0);
          transform: rotateY(0deg) translate3d(0, 0, 0);
}

.frame #grid .flip {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
          transform: rotateY(180deg) translate3d(0, 0, 0);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.frame #grid .card {
  height: 11vh;
  width: 10vh;
  margin: 1.5vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #33336b;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 155px;
  border-radius: 10px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  -webkit-box-shadow: 0px 0px 1vh #33336b;
          box-shadow: 0px 0px 1vh #33336b;
  cursor: pointer;
  transition: 0.8s ease;
}

.frame #grid .card > * {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 11vh;
  width: 10vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.frame #grid .card > * i {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  font-size: 7.5vh;
  color: #caf0fe;
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 18%;
  left: 0.8%;
  border: 0px solid white;
  -webkit-transform: translate3d(0, 0, 5vh);
          transform: translate3d(0, 0, 5vh);
}

.frame #grid .card .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.frame #grid .card .back {
  z-index: 4;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

footer {
  bottom: 0.5vh;
  position: absolute;
  color: #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0 solid #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
}

footer > * {
  border: 0 solid #fff;
  font-size: 1.5vh;
}

footer .fas {
  color: #d95000;
  -webkit-animation: beat 0.5s ease-out alternate infinite;
          animation: beat 0.5s ease-out alternate infinite;
}

@-webkit-keyframes beat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes beat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

footer .logo {
  color: #d6d6d6;
}

footer .logo:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 5vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  65% {
    -webkit-transform: translateX(2.5px);
            transform: translateX(2.5px);
  }
  85% {
    -webkit-transform: translateX(-2.5px);
            transform: translateX(-2.5px);
  }
  100% {
    -webkit-transform: translateX(2.5px);
            transform: translateX(2.5px);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  65% {
    -webkit-transform: translateX(2.5px);
            transform: translateX(2.5px);
  }
  85% {
    -webkit-transform: translateX(-2.5px);
            transform: translateX(-2.5px);
  }
  100% {
    -webkit-transform: translateX(2.5px);
            transform: translateX(2.5px);
  }
}

@media only screen and (max-width: 768px) {
  body {
    min-height: 100vh;
    overflow: hidden;
  }
  .grid {
    height: 70vh !important;
    width: 90vw !important;
    padding: 1vh;
  }
  .footer{
	  bottom: 10px;
}
/*# sourceMappingURL=style.css.map */
